.mat-mdc-row:nth-child(odd) {
    background-color: #8c5555;
  }
  
  .mat-mdc-row:nth-child(even) {
    background-color: #ccba1a;
  }
  
  .mat-mdc-row:hover{
    background-color: #87CEEB !important;
  }