<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
 width="18px" height="18px">
 <path d="M0 0h24v24H0z" fill="none"/>
 <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
</svg>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
    <g>
        <g>
            <g>
                <rect x="1" y="4" style="fill:#ECF0F1;" width="55" height="42"></rect>
                <path style="fill:#545E73;" d="M57,47H0V3h57V47z M2,45h53V5H2V45z"></path>
            </g>
            <g>
                <rect x="5" y="8" style="fill:#545E73;" width="47" height="34"></rect>
                <path style="fill:#ECF0F1;" d="M53,43H4V7h49V43z M6,41h45V9H6V41z"></path>
            </g>
            <circle style="fill:#F3D55A;" cx="15" cy="16.569" r="4.569"></circle>
            <polygon style="fill:#11A085;" points="51,32.111 50,31 38,20 27.5,31.5 32.983,36.983 37,41 51,41 		"></polygon>
            <polygon style="fill:#26B999;" points="6,41 37,41 32.983,36.983 22.017,26.017 6,40 		"></polygon>
        </g>
        <g>
            <rect x="38" y="35" style="fill:#48A0DC;" width="22" height="22"></rect>
            <rect x="48" y="41" style="fill:#FFFFFF;" width="2" height="16"></rect>
            <polygon style="fill:#FFFFFF;" points="54.293,47.707 49,42.414 43.707,47.707 42.293,46.293 49,39.586 55.707,46.293 		"></polygon>
        </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    </svg>